DATABASE_URL=sqlite:///db.sqlite3

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1   # needed to use the custom AMI from the tutorial, ami-1ab24377

IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=

S3_BUCKET_NAME=
EC2_SSH_KEYPAIR_ID=
EC2_IAM_INSTANCE_PROFILE_ARN=
EC2_SECURITY_GROUP_NAME=
EC2_MAX_NUM_INSTANCES=1

HASHIDS_SALT=

TWO1_WALLET_MNEMONIC=
TWO1_USERNAME=

DEBUG=True   # set this to False when you deploy to production
